.navbar {
    background-color: #333;
    height: 60px;
    width: 100%;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .navbar li {
    margin: 0 20px;
  }
  
  .navbar a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #1c1f24;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 20px;
  }
  





  
  